.container{
	width: 700px;
	margin: 40px auto;
	padding: 30px;
	font-family:'Roboto', sans-serif;
}
.list-inline {
  list-style: none;                   /* kill the bullet points */
  padding-left: 0px; /* kill remaining padding left */
  text-align: right;
}
.list-inline  li {
  display: inline; 
  padding: 0px 5px;}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.img-circle2{
	width:60px;
	height: 60px;
	border-radius: 50%;
}

.card-cornsilk{
	background-color: #FFF8DC;
	padding: 10px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	margin: 25px 0px;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
}
#img-circle{border-radius: 50%}

header
{
	background-color: #00008B;
	padding : 20px;
	margin-top: 0px;
}


h2 
{
  font-family: akura popo; 
  color: white;
  font-size: 35px;
  font-weight: bold;


}


@keyframes animation{
	100%{transform: translateX(-200px);}
}

#animation {
	animation: animation 3s alternate infinite;



}

a:visited{
color: black;
}

a:hover{color: blue}

a:focus
{
	opacity:0.5;
}


  

   